button{background-color: red;}
.help{background-color: lightgray;
    }
body{background-image: url(./1080728266853547b19284.89385942fon.png);
background-color: gray;}
.hel1{color: lightgray;}
.help1{background-color: black;
height: 200px;
width: 750px;
margin-top: 350px;
background-size: ;}
.svyaz{color: antiquewhite;
margin-top: ;}